@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }

body {
    margin: 0 2.5%;
}

/* ----------- Header ----------- */
header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1em;
    font-size: 2em;
}

#title-logo {
    width: 100px;
    height: 100px;
}

/* ----------- Search Bar ----------- */
#search {
    display: flex;
    justify-content: right;
    justify-self: center;
    height: 1.75em;
    width: 90%;
    border-radius: 4px;
    border: 1.5px solid gray;
    margin-bottom: 1em;
}

#search input {
    border: none;
    justify-self: left;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.25em;
    cursor: pointer;
}

#search input:focus {
    outline: none;
}

#search img {
    height: 1.5em;
    width: 1.5em;
    justify-self: right;
}

#search button {
    width: auto;
    border: none;
    border-left: 1.5px solid gray;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

hr {
    margin: 0;
    padding: 0;
}

/* ----------- Body ----------- */
h1, h2 {
    font-family: var(--secondary-font);
}

h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin: .75em 0 0 0
}

.recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 90%;
    margin-bottom: 2em;
}

.recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
    border: 2px solid gray;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.recipe img {
    height: 100%;
    width: 60%;
    max-width: 600px;
}

.recipe-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    font-family: var(--primary-font);
}

.rating {
    margin-bottom: 1em;
}

p {
    margin: 0;
}

.tag {
    display: inline-block;
    font-size: 1.2em;
    /* margin-top: 5px; */
    padding: 0.2em;
    border: 1.5px solid gray;
    border-radius: 5px;
    width: fit-content;
}

.recipe-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

/* ----------- Footer ----------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.social img{
    height: 50px;
}

@media screen and (max-width: 635px) {
    .description {
        display: none;
    }

    .recipe img {
        width: 100%;
    }

    .recipe-info {
        font-size: 120%;
    }

    footer {
        flex-direction: column-reverse;
    }
}