.content {
margin: 0 auto;
padding-top: 30px;
width: 600px;
border: lightgray solid;
border-width: 1px;
}

select {
    margin-left: 50px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #4f9acf;
}

.title, .subtitle {
    text-align: center;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 10px;
    color: #006eb6;
}

hr {
    color: rgb(234, 234, 234);
    width: 500px;
}

p, .main-text {
    width: 450px;
    margin-left: 70px;
}

li {
    margin-left: -10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

#logo {
    width: 150px;
    display: block;
    margin: 30px auto;
    margin-top: 0;
}